@model SistemaDeCadastroDeClientes.ViewModels.FornecedorViewModel

<h2>Criar</h2>
<h4>Fornecedor</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Fornecedor.Nome" class="form-label"></label>
                <input asp-for="Fornecedor.Nome" class="form-control" />
                <span asp-validation-for="Fornecedor.Nome" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Fornecedor.Cnpj" class="form-label"></label>
                <input asp-for="Fornecedor.Cnpj" class="form-control" />
                <span asp-validation-for="Fornecedor.Cnpj" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Fornecedor.Segmento" class="form-label"></label>
                <select asp-for="Fornecedor.Segmento" class="form-select" asp-items="@Model.Segmentos">></select>
                <span asp-validation-for="Fornecedor.Segmento" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Fornecedor.Cep" class="form-label"></label>
                <input asp-for="Fornecedor.Cep" class="form-control" />
                <span asp-validation-for="Fornecedor.Cep" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Fornecedor.Endereco" class="form-label"></label>
                <input asp-for="Fornecedor.Endereco" class="form-control" />
                <span asp-validation-for="Fornecedor.Endereco" class="text-danger"></span>
            </div>
            <div class="mb-5">
                <label asp-for="Fornecedor.CaminhoDaFoto" class="form-label"></label>
                <input asp-for="Fornecedor.CaminhoDaFoto" class="form-control" />
                <span asp-validation-for="Fornecedor.CaminhoDaFoto" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Criar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary">Voltar à Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
